# Libraries

In [3]:
import pandas as pd

from thefuzz import process

/home/amanda/projects/2023-ds-jobdesc/venv-2023-ds-jobdesc/lib/python3.11/site-packages/thefuzz/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

# Configurations

In [148]:
# Pandas configuration for long phrases
pd.set_option('display.max_colwidth', 50)

# Data

In [5]:
df = pd.read_csv('data/Jobs.csv')

In [6]:
df.head()

,Unnamed: 0,title,company,announcement,description
0,0,"Senior Analyst, Data Science and Analytics",TransUnion,The Muse,TransUnion's Job Applicant Privacy Notice Wha...
1,1,Senior Data Scientist,"Grubhub Holdings, Inc.",ZipRecruiter,About The Opportunity We're all about connect...
2,2,Lead Data Science Analyst,Discover Financial Services,LinkedIn,"Discover. A brighter future. With us, you’ll ..."
3,3,Data Science Intern,AbelsonTaylor,Startup Jobs,Are you a 2023 college graduate or rising coll...
4,4,Data Scientist,NORC at the University of Chicago,SimplyHired,"JOB DESCRIPTION: At NORC, Data Scientists pla..."

# Cleaning Data

In [7]:
df = df.drop('Unnamed: 0', axis=1)

In [8]:
df.head()

,title,company,announcement,description
0,"Senior Analyst, Data Science and Analytics",TransUnion,The Muse,TransUnion's Job Applicant Privacy Notice Wha...
1,Senior Data Scientist,"Grubhub Holdings, Inc.",ZipRecruiter,About The Opportunity We're all about connect...
2,Lead Data Science Analyst,Discover Financial Services,LinkedIn,"Discover. A brighter future. With us, you’ll ..."
3,Data Science Intern,AbelsonTaylor,Startup Jobs,Are you a 2023 college graduate or rising coll...
4,Data Scientist,NORC at the University of Chicago,SimplyHired,"JOB DESCRIPTION: At NORC, Data Scientists pla..."

In [9]:
# Data types of columns
df.dtypes

title           object
company         object
announcement    object
description     object
dtype: object

In [22]:
# Dataframe information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790 entries, 0 to 789
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         790 non-null    object
 1   company       790 non-null    object
 2   announcement  790 non-null    object
 3   description   790 non-null    object
dtypes: object(4)
memory usage: 24.8+ KB

In [10]:
# Get duplicated values
df[df.duplicated()]

Empty DataFrame
Columns: [title, company, announcement, description]
Index: []

In [11]:
# Missing values
df[df['description'].isna()]

# There is no NA values.

Empty DataFrame
Columns: [title, company, announcement, description]
Index: []

In [12]:
# All type of unique titles of the job
df['title'].nunique()

515

In [13]:
df['title'].unique()

array(['Senior Analyst, Data Science and Analytics',
       'Senior Data Scientist', 'Lead Data Science Analyst',
       'Data Science Intern', 'Data Scientist',
       'Senior Solutions Architect (Data Science)',
       'Data Scientist - Research, Development & Construction',
       'Data Science Manager - S&A Strategy',
       'Senior/Principal Data Scientist', 'Data Science Analyst',
       'Senior Data Scientist - Knowledge Management',
       'Data Scientist, Consultant', 'Senior-Data Scientist',
       'Staff Data Scientist', 'Data Science Internship',
       'Undergrad Intern – Data Science Program (Summer 2023)',
       'Data Science, Department of Information Technology - Adjunct Faculty',
       'Summer 2023 Intelligent Sensors Data Science Intern',
       'Associate Director Data Science',
       'Data Science Senior Advisor (Solution Value Analytics) - Evernorth',
       'Director, Data Science',
       'Senior Manager, Institutional Data Analytics and Reporting',
       'Data Scientist, TS/SCI with Polygraph Jobs',
       'Data Scientist/Analyst Intern', 'Sr. Data Scientist',
       'Data Scientist - Machine Learning',
       'Data Scientist I, Product Analytics',
       'Data Scientist/Bioinformatician - Mount Sinai Data Commons',
       'Data Scientist (Greater NYC Area, NY or Remote)',
       'Senior Data Scientist, Data Science Products | Bankrate',
       'Senior Data Scientist, Product Analytics', 'VP, Data Science',
       'Senior Data Scientist, Game Security',
       'Senior Data Scientist (Remote, PhD Required)',
       'Sr. Data Scientist, SMB Data and Analytics (Greater NYC Area, NY)',
       'Senior Data Scientist, Spotify For Artists',
       'Data Scientist / Orlando or Dallas', 'Data Scientist, Mid',
       'Senior Data Scientist II',
       'Senior Data Scientist, Bidder Product',
       'Senior Data Scientist Consultant',
       'Data Scientist II, AIGC Science and Analytics',
       'Director, Data Science Product Management (Remote)',
       'Data Scientist, Analytics', 'Junior Data Scientist',
       'Merchandising Sr. Data Scientist',
       'Bioinformatics and Data scientist',
       'Staff Data Scientist, Advertiser Platform Analytics',
       'Lead Data Scientist', 'Data Scientist, Finance',
       'Principal Data Scientist', 'Data Scientist II',
       'Data Scientist (CATALYST) June 2023 Start',
       'Senior Lead Data Scientist - Recommender Systems',
       'Senior Data Scientist (Chicago, IL)',
       'Data Scientist - Data Analytics',
       'Data Scientist - Forecasting (US)',
       'Applied Data Scientist - Senior R&D Staff', 'Data Scientist Lead',
       'Sr. Applied Data Scientist (Media Mix)', 'Data Scientist (FT)',
       'Senior Data Scientist - Optimization',
       'Data Scientist Internship - OR (US)',
       'Data Scientist - Applied Machine Learning',
       'Staff Data Scientist - Checkout', 'Data Scientist Early Career',
       'Lead Data Scientist (Colorado Springs, CO)',
       'Data Analyst/Data Scientist',
       'Quantitative Analyst - Commodities (Data Science)',
       'Clinical Informatics Data Scientist - Full Time',
       'Data Scientist, Senior Associate: Carbon-Free Mobility Program',
       'Senior Data Scientist – Machine Learning (Social)',
       'Senior Product Data Scientist, Bitcoin Wallet',
       'Sr Data Scientist',
       'Data Scientist (P3 Career Level, 10 Month, Full-Time)',
       'Senior Data Scientist / Data Engineer , Health Equity - Remote',
       'Enterprise Data Scientist', 'Data Scientist II (Kansas City, MO)',
       'Data Scientist - Cybersecurity', '(USA) Director, Data Science',
       'Manager, Data Scientist, Anti-Money Laundering Modeling and...',
       'Global Data Science Manager', 'Developer Engineer/ Data Science',
       'Staff Data Scientist, Analytics',
       'Senior Data Scientist/Engineer', 'Data Analytics Manager',
       'Data Science',
       'Senior Software Developer and Senior Data Scientist',
       'Data Scientist 2 (Biomedical)',
       'Group Marketing Data Science and Infrastructure Manager',
       'Data Scientist (Remote)',
       'Retail Bank Price and Policy Optimization Data Science Lead ...',
       'Data Scientist – Product Strategy & Research',
       'MACHINE LEARNING DATA SCIENTIST - PYTHON AND R, #11070 *',
       'Sr Data Scientist Udemy Business Marketing',
       'Data Scientist in Inflammatory Disease Modelling',
       'Value Based Care & Payer Sr. Data Scientist',
       'Senior Data Scientist (Remote)', 'eComm Principal Data Scientist',
       'Data Science Fraud Manager',
       'Data Scientist Technical Specialist Jobs',
       '2023 SETUP Technology Full Time Program - Data Scientist - New York',
       'Credit Quantitative Analyst/Data Scientist - Assistant Vice President',
       'VP, Data Science Lead', 'PREDICTIVE DATA ANALYST',
       'Lead Data Scientist, Vehicle Efficiency',
       'Data Scientist Manager',
       'Data Scientist (L5) - Applied Research, Consumer Insights',
       'Jr. Data Scientist (Dallas, TX)', 'Data Scientist, Pricing',
       'Compliance Data Scientist',
       'Data Scientist – Games Growth Intelligence, GG Intelligence',
       'Data Scientist (Phoenix, AZ)', 'Transportation Data Scientist',
       'Senior Data Scientist - US Remote',
       'Logistics Engineer and Data Science',
       'Senior Data Scientist - Data Ventures',
       'Data Scientist-Scientific Core', 'Data Scientist, Senior',
       'Data Scientist II, Product Analytics',
       'Staff Data Scientist, Safety Insights',
       'Data Scientist, Data Quality Engineer', 'QC Data Scientist',
       'Founding Data Scientist', 'Data Scientist Jobs',
       '2023 SETUP Technology Full Time Program – Data Scientist - PGH',
       'Principal Data Scientist (Remote) - Baltimore, MD area ONLY',
       'Intern, Pharma Manufacturing Data Scientist',
       'Data Scientist / Senior Data Scientist',
       'Computer Vision Data Scientist',
       'Senior Data Scientist - Data Platform Enablement',
       'Senior Data Scientist - Notifications',
       'Principal / Sr. Principal Data Scientist Jobs',
       'Data Scientist (Enterprise Analytics)',
       'Data Scientist, Vehicle Intelligence',
       'Data Scientist I (Full Time)',
       'Data Scientist Digital Effectiveness Operations & Technology Analytics',
       'People Data Scientist',
       'Senior Data Scientist, Ads Quality Analytics (Remote)',
       'Audit Data Scientist', 'Data Scientist Associate I-Neurology',
       'Associate Director, Data Science',
       'Data Science Product Manager (REMOTE)',
       'Data Scientist - TS/SCI w/ Poly',
       'Cryptanalytic Computer Scientist (Data Scientist 2)- 6347 Jobs',
       'Mission Data Scientist (Washington DC)',
       'Senior Data Scientist, Epidemiology',
       '(USA) Staff Data Scientist', 'Senior Lead Data Scientist Jobs',
       'Data Scientist / Analyst', 'Distinguished Data Scientist',
       'Senior Research Data Scientist', 'Data Scientist III',
       'Senior Data Scientist, Specialty Compliance and Ethics, Digital Values',
       'Lead Data Scientist, Personalization (Remote)',
       'Data Science Opportunities', 'Data Scientist - Lincolnshire, IL',
       'Business Data Scientist', 'Mid-Geospatial Data Scientist',
       'Data Scientist (Chicago or Remote)',
       'Senior Data Scientist, Fulfillment and Logistics',
       'Data Scientist - Opportunity for Working Remotely',
       'Data Science Intern - Summer 2023',
       'Senior Data Scientist - Search & Recommendation',
       'Remote Data Scientist', 'Senior Data Scientist (Hybrid)',
       'Director Data Science - Smart Grid', 'Associate Data Scientist',
       'Data Scientist – Business Intelligence Specialist',
       'Clinical Data Scientist', 'Data Science Project Manager Jobs',
       'Data Scientist / Matchmaking Scientist',
       'Associate Director, Data Scientist',
       'Quantum Research Data Scientist',
       'Data Scientist with Security Clearance',
       'Director Analytics & Data Science',
       'Sr. Inventory Management Data Scientist',
       'Data Science Internship - Summer 2023', 'DATA SCIENTIST',
       'Senior Data Scientist, Genetics',
       'Data Scientist(Summer 2023 Internship)',
       '2023 Focused Analytics Solutions Team (FAST) Full-Time Associate...',
       'Environmental Data Scientist', 'Head of Data Science',
       'Sr. Data Scientist – Retail/Marketing',
       'Data Scientist - Computer Vision and Machine Learning - Strategic...',
       'Graduate (Year-Round) Intern: Geospatial Data Science Modeling and...',
       'Senior Data Scientist - Statistics',
       'Senior Professional, Data Scientist', 'Data Scientist-W2(Hybrid)',
       'Sales Operations Data Scientist, Advertising Platforms',
       'Data Scientist Python SQL',
       'Biomedical Literature / Patent Data Scientist',
       'Lead Data Scientist - 100% Remote - FTE - $200k Base',
       'Data Analyst', 'Senior Business Data Analyst',
       'Junior Data Analyst', 'Data Analyst (Monitoring)',
       'Senior Data Analyst, Destination Management', 'DATA ANALYST',
       'Data Governance Analyst', 'Scientific Data Analyst',
       'Senior Data Analyst, Marketing & Enrollment',
       'Hybrid Data Analyst', 'Senior Finance Data Analyst',
       'Associate Data Analyst', 'Expert Data Analyst - Fully Remote',
       'Sr. Data Analyst (Jacksonville, FL)', 'ERP Data Analyst III',
       'Sales Data Analyst', 'Junior Data Analyst Jobs',
       'Marketing Data Analyst', 'Data Analyst- Fortify',
       'Senior Data Analyst, Clinical Analytics & Reporting - REMOTE',
       'Cannabis ERP Data Analyst', 'Senior Data Analyst',
       'Business Data Analyst', 'Data Analyst Internship',
       'Senior Data Analyst (Remote Opportunity)',
       'Data Analyst - 4637313', 'Data Analyst - Pilot',
       'Functional Data Analyst', 'Supply Chain Data Analyst II',
       'Financial Data Analyst', 'Data Analyst/HR',
       'Lead Data Analyst - San Antonio, TX or Remote',
       'GIS Development & Data Analyst (All Levels)', 'Data Analyst OTI',
       'Senior Data Analyst (2-year contract)',
       'Provider Data Analyst (Indianapolis, IN or Remote)',
       'Business Intelligence / Data Analyst',
       'Data Analyst, Senior Data Analyst',
       'Data Quality Analyst - Experian Health - Strong SQL experience, QA...',
       'Operations Administrator/Data Analyst',
       'File Processing Manager - IT Data Analyst (On-Site or Remote)',
       '(USA) Principal Data Analyst - Investigative Risk and Operational...',
       'Analyst & Visualization Engineer', 'Data Analyst - Service Core',
       'Senior Clinical Research Data Analyst - Engineer',
       'Data Management Data Analyst',
       'Senior Data Analyst, Inventory Management',
       'Entry Level Data Analyst', 'Compliance Quantitative Data Analyst',
       'Senior Data Analyst (Transportation Optimization) -3',
       'Data Analyst - Contract to Hire', 'Data Analyst I',
       'Data Analyst- Senior', 'Sr. Business Data Analyst',
       'Snr. Data Analyst (Remote)', 'IT Data Analyst Intern - PMO',
       'Sr Supply Chain Master Data Analyst',
       'Data Senior Analyst - Technology',
       'Excel Data Analyst / Billing Reconciliation',
       'Associate, Data Analyst', 'Data Analyst - AIS',
       'Lead Data Analyst', 'Flight Data Analyst',
       'Data Analyst - Student Health - Full Time 8 Hour Days (Non-Exempt...',
       'Sr. Data Analyst', 'Quality Data Analyst',
       'Sr. Data Analyst, Marketing Operations',
       'Internship:  Production Planning Data Analyst',
       'Senior Data Analyst, Product (Remote)',
       'Data Analyst (Department of Neurosurgery)',
       'Business and Data Analyst', 'IT CMDB Data Analyst',
       'Data Analyst – Full-Time – Lufkin',
       'Senior Marketing Data Analyst', 'Lead Data Analyst [Remote]',
       'Data Analyst, Carrier Consulting (can be remote)',
       'Sr. Technical Data Analyst - HYBRID', 'Healthcare Data Analyst',
       'Senior Data Analyst, Blockchain', 'Data Analyst II - Now Hiring',
       'Laboratory Services Data Analyst', 'Reporting Analyst',
       'Data Analyst (Remote)', 'Senior Data Analyst - Remote - USA',
       'Data Analyst / Big Data QA',
       'Analyst, Data Management & Quantitative Analysis',
       'Investment Data Analyst', 'Mortgage Data Analyst II (HYBRID)',
       'Senior BI Data Analyst', 'Procurement Data Analyst',
       'Analytics Internship (Summer 2023)',
       'Research Data Analyst Associate',
       'Provider Experience Analyst | Remote',
       'Analyst, Business Intelligence - Part-Time',
       'Senior Data Analyst - AAI (Oklahoma City, OK)',
       'Student Data Analyst', 'Senior Healthcare Data Analyst',
       'Business Sales Data Analyst',
       'Looking for a rockstar Amplitude data analyst - Contract to Hire',
       'HR Data Analyst (Remote)', 'Data Analyst Mid-Level - Remote',
       'Business Analyst II', 'Data AnalystBI Developer III',
       'Data Analyst | Excel Expert',
       'Senior Data Analyst - Transportation Optimization',
       'Financial Data Analyst - Healthcare',
       'Senior Data Analyst, Performance Analytics',
       'Data Analyst Required To Create A Dashboard For Our App In Amplitude',
       'Remote Data Analyst',
       'Data Analyst for Ecommerce and Marketing Agency',
       'Local Sr Data Analyst', 'EDI Data Analyst',
       'Jr. Financial/Data Analyst',
       'Data Analyst needed to analyze various categories',
       'Data Analyst Intern', 'Senior Data Analyst (P553)',
       'Claims Data Analyst I', 'Data Analyst-Parts',
       'Associate Research/Data Analyst', 'SQL Developer / Data Analyst',
       'Data Analysis - Contract to Hire',
       'Data Analyst - Ataccama ONE REMOTE 40046',
       'Assurance Data Analyst', 'Health Services Data Analyst',
       'Data Analyst ( US REMOTE)', 'Feminist Data Analyst for Twitter',
       'Ad Ops Data Analyst', 'Clinical Data Analyst',
       'Sr. Data Analyst & Visualization Developer',
       'Technical Data Analyst Waukesha Engines',
       'Clinical Informaticist/Data Analyst',
       'Data Analyst, Customer Success',
       'Data Analyst with home services industry (HVAC, plumbing, electrical)',
       'Senior Technical Data Analyst',
       'Data Analyst (Outreach/Digital PR)', 'HRIS Data Analyst',
       'REMOTE / HYBRID - Healthcare Data Analyst (HEDIS)',
       'Data Analyst - Growth Marketing', 'Business Data Analyst I',
       'Sr Data Analyst - FinTech, 100% remote, data warehouse + cloud focus',
       'Health Data Analyst',
       'Senior Associate, Digital Data Analyst/Architect',
       'Jr. Data Analyst', 'Data Analyst, Data Analytics',
       'Senior Data Governance Specialist (Remote)',
       'Lead Data Analyst- Real Estate',
       'Excel data analysis - Contract to Hire', 'Data Analysis Manager',
       'Data analyst :Africa Water Footprint Dataset',
       'Snr. Data Analyst', 'Program Management Data Analyst',
       'Data Analyst Manager (Charlotte, NC (Hybrid) or Fully Remote)',
       'Public Safety Strategic Planning and Data Analysis Coordinator',
       'Senior Data Analysis Engineer', 'Data Analytics Director',
       'Lead Data Analyst (SAS & SQL)', 'Data Analytics Engineer',
       'Associate Healthcare Research and Data Analyst',
       'Associate Director, Data Analytics and Modeling - Insights Center...',
       'Data Analysis Programmer Specialist I', 'Data Analyst Level 3',
       'Visiting Professor (Data Analysis, EMBA Program))',
       'Data Analyst Medica-Minneapolis, Minnesota-Remote(1 day onsite in...',
       'Senior Data Analytics Consultant', 'Data Analyst II',
       'Senior Data Analyst, Technology| Data',
       'Director of Data Analytics & Reporting',
       'CAMPUS RECRUITING - BUSINESS/ DATA ANALYTICS INTERN: ONLINE...',
       'Data Analytics in Automation Internship',
       'Data Analytics Auditor Senior I',
       'RISA20220808-OP028 Cyber Security Operations Specialist II ...',
       'Data Analysis Supervisor', 'Data Analyst/Engineer (Remote)',
       'Manager, Data Analysis',
       'Analytics & Insights Senior Manager - Media Analytics',
       'Senior Environmental Data Analyst', 'Data Analytics Intern *',
       'Data Analyst III - Full-time / Part-time',
       'AVP - Senior Data Analyst', 'Data Analyst - Threat Lab',
       'RDC Data Analyst- Research Information Services',
       'Sr Customer Experience Data Analyst',
       'Marketing Data Analyst - Office of Communications and Marketing',
       'COOP - Data Analyst', 'Financial Process and Data Analyst',
       'Principal Data Analyst', 'Data Analyst/Business Analyst',
       'NA Claims Digital Analytics & Performance Management SME',
       'Alpha Operations Data Analyst, Officer',
       'Principal Data Analyst, AV Performance Analysis',
       'Senior/Principal Scientist- Visualization and Interactive Data...',
       'Data Analyst - Health, Experienced',
       'Team Lead, Data Analytics - EABI (Flexible/Remote)',
       'Data Engineer - Data Analytics',
       'Data Analyst-Risk and Regulatory Data',
       'Real World Data Expansion Analyst',
       'Data Governance Analyst (Open to hiring at Senior level)',
       'Data Analyst Technical Senior',
       'Product Owner – Data Analytics – Client and Business Insights Team',
       'Database Manager/Data Analyst',
       'Provider Data Analyst (contract)', 'Data Specialist! (Remote)',
       'Consultant/Sr. Consultant - Data Analyst',
       'Data Analyst - Community Reinvestment Act',
       'Data Visualization and Infographics Analyst',
       'Data Analyst- (Data & Spatial Analysis)-Hybrid',
       'Big Data Engineer', 'Nuclear Data Analyst',
       'Data Analytics Senior (Hybrid - 3 Days in Office)',
       'Senior Analytics Engineer, Data Operations',
       'Lead Software Engineer, Data Analytics (Remote)',
       'Data Engineer - Clearance Required Jobs',
       'Business Data Analyst/Business Systems Analyst',
       'Business and Data Analysis',
       'Senior Manager II, Data Analytics, Financial Services Compliance...',
       'Advanced Mobility and Data Analytics Intern',
       'Systems Data Analyst / Full-time (Remote)',
       'Principal Data Analyst (Credit Bureau Reporting)',
       'Policy intern', 'Entry level Data Analyst / Full time (Remote)',
       'Data Measurement & Reporting Lead Analyst',
       'Data Engineer- Data & Analytics', 'Manager, Data Analytics',
       'Data Analyst / Database Developer',
       'Business and Data Analysis Librarian',
       'Data Analyst - Tiktok Ads and Monetization Products',
       'Program/Data Analyst',
       'Development Data Analyst, the Fund for Johns Hopkins Medicine',
       'Data Analysis Intern (Remote Internship - Analyst)',
       'Data Reporting Analyst',
       'Data Analyst, Bureau of Epidemiology Services',
       'Director, IT Data Analysis',
       'HYBRID: Global Financial Crimes: Risk Assessment Data Analyst',
       'Data Analyst - Now Hiring',
       'Data Analyst - Refugee Resettlement - Remote, US',
       'People Analytics Analyst', 'Strategic Data Analyst SME',
       'SR Principal Solutions Engineer, Global MSAT Data Analytics',
       'Business Analyst, Technical',
       'Data Analyst Sr Revenue Management',
       'Senior Data Analyst - Now Hiring',
       'Data Analyst Transformation Improvement',
       'Analytics and Data Integrity Analyst', 'Google analytics guru',
       'Maintenance Data Analyst',
       'Data Analyst III (Florence or Percival primarily W@H) R1026157',
       'data analyst sas - minneapolis, des moines, st. louis, charlotte',
       'Opportunity: Clinical data analyst!',
       'Data Analyst - Quality Analytics (REMOTE)',
       'Analyst, Market Intelligence & Data Analytics',
       'Data Analyst III - Healthcare', 'Data Analyst - HYBRID',
       'Business Data Analyst - Hybrid Remote',

There are 515 unique job title, but the most are repeated, so we have to classify this titles in some unique occurences.

# Creating levels based on job title

## Filters for data analyst and data scientist

In [155]:
df['title'] = df['title'].str.lower()
df['title']

0      senior analyst, data science and analytics
1                           senior data scientist
2                       lead data science analyst
3                             data science intern
4                                  data scientist
                          ...
785                  research and data specialist
786             quality assurance data specialist
787                           senior data analyst
788                  cost controller/data analyst
789                               data specialist
Name: title, Length: 790, dtype: object

In [156]:
# Checking if the tile of the job contains analyst

job_analyst = df[df['title'].str.contains('analyst')]
job_scientist = df[df['title'].str.contains('scientist|science')]

In [157]:
# Checking what is duplicated between job_analyst and job_scientist

title_analyst_scientist = set(job_analyst['title']).intersection(job_scientist['title'])

job_analyst_or_scientist = pd.DataFrame()

for i in title_analyst_scientist:
    job_analyst_or_scientist = pd.concat([job_analyst_or_scientist, df[df['title'] == i]])

In [158]:
# Now, I want to remove from job_anayst and job_scientist the in tersection cases

job_analyst = job_analyst[~job_analyst['title'].isin(job_analyst_or_scientist['title'])]
job_scientist = job_scientist[~job_scientist['title'].isin(job_analyst_or_scientist['title'])]

In [159]:
job_scientist['title'].str.contains('principal')

1      False
3      False
4      False
5      False
6      False
       ...
326    False
584    False
610     True
694    False
700    False
Name: title, Length: 315, dtype: bool

## Creating levels

In [160]:
# Function that creates the levels of jobs, respecting this relationship
# level 1 - junior position
# level 2 - intermediate position
# level 3 - senior position
# level 4 - principal or leader position

def job_level(df):
    df['level'] = df.apply(lambda x:
                           1 if 'intern' in x['title'] or 'internship' in x['title'] else
                           2 if 'junior' in x['title'] or 'associate' in x['title'] or 'i' in x['title'] else
                           4 if 'senior' in x['title'] or 'sr' in x['title'] or 'snr' in x['title'] or 'ii' in x['title'] else
                           5 if 'principal' in x['title'] else
                           6 if 'lead' in x['title'] else
                           3, axis=1)
    
    return df

In [161]:
# Applying the levels on the dataframes 
job_level(job_analyst)

,title,company,announcement,description,level
163,predictive data analyst,County of Los Angeles,Government Jobs,TYPE OF RECRUITMENT: Open Competitive Job Oppo...,2
327,data analyst,Robert Half,LinkedIn,Job Title: Data Analyst Location: Saddle Broo...,3
328,senior business data analyst,MATRIX Resources,Matrix Resources,Work with the brightest minds at one of the la...,2
329,junior data analyst,IFG - International Financial Group,LinkedIn,"Title: Junior Data Analyst Location: Redmond,...",2
330,data analyst (monitoring),General Dynamics Information Technology,GDIT,The Data Analyst (Monitoring) will support the...,2
...,...,...,...,...,...
769,erp data analyst iii,TekWissen ®,LinkedIn,ob Title: ERP Data Analyst III Location: Morr...,2
771,"data analyst - part-time, alpha - an edu start...",Crossover,LinkedIn,Crossover is the world's #1 source of remote j...,2
774,wss business and data analyst lead,HP,LinkedIn,"At HP, we believe in the power of ideas. We us...",2
787,senior data analyst,Gopuff,Startup Jobs,The Senior Data Analyst will join as an analyt...,2
788,cost controller/data analyst,Petroplan,Petroplan,Overview: The Cost Controller / Data Analyst p...,3

In [132]:
job_scientist

,title,company,announcement,description,level
1,senior data scientist,"Grubhub Holdings, Inc.",ZipRecruiter,About The Opportunity We're all about connect...,3
3,data science intern,AbelsonTaylor,Startup Jobs,Are you a 2023 college graduate or rising coll...,4
4,data scientist,NORC at the University of Chicago,SimplyHired,"JOB DESCRIPTION: At NORC, Data Scientists pla...",4
5,senior solutions architect (data science),The Trade Desk,LinkedIn,The Trade Desk is a global technology company ...,3
6,senior data scientist,Tango Card,Startup Jobs,The JobTango Card is hiring our first ever Sen...,3
...,...,...,...,...,...
326,lead data scientist - 100% remote - fte - $200...,Dice,LinkedIn,Dice is the leading career destination for tec...,4
584,data scientist jobs,ManTech International,Clearance Jobs,"Secure our Nation, Ignite your Future Join th...",4
610,senior/principal scientist- visualization and ...,Genentech,My Stateline Jobs,The Position Genentech (Research and Early De...,3
694,data science intern,Geospark Analytics Inc.,SimplyHired,Company Overview: Join the world’s only threa...,4
700,[urgent] data science bootcamp instructor,Upwork,Upwork,We are looking for a expert level and experien...,4

In [109]:
a = job_scientist.copy()

if job_scientist['title'].str.contains('junior|associate'):
    a['level'] = 1

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().